<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/jquery"></script>
</head>
<body class='content'>
    <nav id='navbar' class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">アニ録</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav nav-tabs ml-auto">
            <li class='nav-item mr-3'><a class="nav-link" href="/lists">All Lists</a></li>
            <li class='nav-item mr-3'><a class="nav-link" href="/genres">All Anime Genres</a></li>
            {%if current_user.get_id() != None%}
            <li class='nav-item mr-3'><a class='nav-link' href="/category/new">New Category</a></li>
            <li class='nav-item mr-3'><a class="nav-link "href='/my-lists/{{current_user.id}}'>{{ current_user.username }}'s Lists</a></li>
            <li class='nav-item mr-3'><a class="nav-link " href="/logout">Logout</a></li>
            {%elif current_user.get_id() == None%}
            <li class='nav-item mr-3'><a class='nav-link' href="/login">Login</a></li>
            {%endif%}
          </ul>
        </div>
      </nav>
    
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }} flashes mb-0">{{ message }}</div>
    {% endfor %}
    <div class='container-fluid col-12 mt-5'>
        {% block content %}{% endblock %}
    </div>
    <div class='footer'>
      Site icons by <a href="https://icons8.com/icon/25216/mobile-suit-gundam">Icons8</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src='/static/app.js'></script>
</body>
</html>