{% extends 'base.html' %}
{% block title %}Delete User{% endblock %}

{% block content %}
<div class='container mb-5'>
  <div class='jumbotron mx-auto border'>
    <div class="row justify-content-md-center align-items-center text-center">
      <div class="col-md-7 col-lg-8">
        <h2 class="join-message">Are you sure you want to delete your account?</h2>
        <p>Your anime lists will be gone forever! Think carefully. Enter your username and password to confirm deletion</p>
      </div>
    </div>
    <form id='add-this-anime' class='mb-4 mt-2' method="POST">
      {{ form.hidden_tag() }}
      <div class='form-group'>
      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control")}}
      {% endfor %}
      </div>
      <div id='list-actions' class="btn-group dropdown mr-1 mt-1 list-buttons">
        <button type="button" class="btn dropdown-toggle list-buttons-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </button>
        <div class="dropdown-menu">
            <button id='add-anime' class="dropdown-item perm-danger-btn">Delete</button>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item list-buttons-a" href='/my-lists/{{current_user.id}}'>Nevermind</a>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}