{% extends 'base.html' %}
{% block title %}Recommended{% endblock %}

{% block content %}
<div class='container mb-5'>
  <div class='jumbotron mx-auto border'>
    <h2 class="join-message text-center">Recommended based on {{curr_title}}</h2>
    {%if current_user.get_id()==None%}
    <div id='list-actions' class="btn-group dropdown mt-2 list-buttons">
        <button type="button" class="btn dropdown-toggle list-buttons-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </button>
        <div class="dropdown-menu">
          <a href="/login" class="dropdown-item list-buttons-a">Login</a>
          <a href="/signup" class="dropdown-item list-buttons-a">Sign Up</a>
        </div>
    </div>
    {%else%}
    <p class='lead text-center'>Add these anime to your list or click on another title to see new recommendations</p>
    {%endif%}
    {%if current_user.get_id() != None%}
    <form id='add-this-anime' class='mb-4 mt-4' method="POST">
      {{ form.hidden_tag() }}
      <div class='form-group'>
      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control")}}
      {% endfor %}
      </div>
      <div class="btn-group dropdown mr-1 mt-1 list-buttons">
        <button type="button" class="btn dropdown-toggle list-buttons-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </button>
        <div class="dropdown-menu">
            <button id='add-anime' class="dropdown-item list-buttons-a">Add!</button>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item list-buttons-a" href='/my-lists/{{current_user.id}}'>I'm done!</a>
        </div>
      </div>
    </form>
    {%endif%}
    <div class="accordion mx-auto mt-4" id="anime-accord">
            {%for anime in recommendations['recommendations']%}
            <div class="card listed-anime {{loop.index}}">
              <div class="card-header p-0" id="heading{{loop.index}}">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left list-collapse" type="button" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                    <img class='anime-icon' src='{{anime['image_url']}}'>
                    <span class='show-title'>{{anime['title']}}</span>
                    <span class='mal-rating'>Recommended: {{anime['recommendation_count']}}x</span>
                  </button>
                </h2>
              </div>
              <div id="collapse{{loop.index}}" class="collapse" aria-labelledby="heading{{loop.index}}" data-parent="#anime-accord">
                <div class="card-body anime-details">
                    <p class='rated mt-3'>More info at: <a class='green-link' href="{{anime['url']}}"">Link</a></p>
                    <p class='recommended-pg'>You may also like these titles: <a class='green-link' href='/{{anime["mal_id"]}}/recommendations?t={{anime["title"]}}'>Link</a></p>
                </div>
              </div>
            </div>
            {%endfor%}
    </div>
    <div class="waitpage" id="waitpage" style="display: none;">
      <div class="waitpage-box">
          <p>
              <img alt="(Loading)" src="https://media.giphy.com/media/3o7bu3XilJ5BOiSGic/giphy.gif">
              <span>Please Wait...</span>
          </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}