{% extends 'base.html' %}
{% block title %}Recommended{% endblock %}

{% block content %}
<h1>Recommended based on your choice:</h1>
<div class='container-fluid'>
    <div class='row'>
    {%for anime in recommendations['recommendations'][:40]%}
    <div class="card mb-3 col-3">
        <img style='max-height:250px;' src="{{anime['image_url']}}">
        <div class="card-body">
            <h5 class="card-title">{{anime['title']}}</h5>
            <a href='{{anime["url"]}}' class="card-text"><small class="text-muted">More Info</small></a>
        </div>
    </div>
    {%endfor%}
    </div>
    </div>
{% endblock %}