{% extends 'base.html' %}
{% block title %}Current List{% endblock %}
{% block content %}
<div class='container mb-5'>
    <div class='jumbotron mx-auto border'>
        <h1 class='display-2'>
          <img class='profile-pic' src='{{curr_list.users.avatar_url}}'/>
          <span>{{curr_list.name}}</span>
        </h1>
        <p class='lead'>{{curr_list.description}}</p>
        <div class="btn-group dropdown mr-1 mt-2 list-buttons">
            <button type="button" class="btn dropdown-toggle list-buttons-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </button>
            <div class="dropdown-menu">
                {%if current_user.id == curr_list.users.id%}
                <a href="/{{curr_list.id}}/suggestion-inbox" class="dropdown-item list-buttons-a">Inbox <span class="badge badge-dark">{{curr_list.list_suggestions|length}}</span></a>
                <a href="/lists/{{curr_list.id}}/add" class="dropdown-item list-buttons-a">Add to list</a>
                <a href="/lists/{{curr_list.id}}/update" class="dropdown-item list-buttons-a">Update Details</a>
                <div class="dropdown-divider"></div>
                <form action='/lists/{{curr_list.id}}/delete' method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button class="dropdown-item perm-danger-btn">Delete</button>
                </form>
                {%elif (current_user.id != curr_list.users.id) and (current_user.get_id() != None)%}
                <a href="/{{curr_list.id}}/suggestions" class="dropdown-item">Suggest an anime</a>
                {%else%}
                <a href='/signup' class='dropdown-item'>Signup for more</a>
                {%endif%}
            </div>
        </div>
        <div class='btn-group dropdown mt-2 list-buttons'>
            <button type="button" class="btn dropdown-toggle list-buttons-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filters
              </button>
              <div class="dropdown-menu">
                {%for category in categories%}
                <button class='dropdown-item category-select list-buttons-a' id='{{category}}'>{{category}}</button>
                {%endfor%}
                <button class='dropdown-item perm-danger-btn' id='clear-filter'>Clear filters</button>
              </div>
        </div>
        <div class="accordion mx-auto mt-4" id="anime-accord">
            {%for anime in curr_list.list_entries%}
            <div class="card listed-anime {{curr_list.list_entries.index(anime)}}">
              <div class="card-header p-0" id="heading{{loop.index}}">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left list-collapse" type="button" data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="true" aria-controls="collapse{{loop.index}}">
                    <img class='anime-icon' src='{{anime.anime_img_url}}'>
                    <span class='show-title'>{{anime.anime_title}}</span>
                    {%if anime.categories%}
                    <div class='categories-div'>
                        {%for category in anime.categories%}
                        <span class='{{category}} badge badge-pill category-badges'>{{category}}</span>
                        {%endfor%}
                    </div>
                    {%endif%}
                    <span class='user-rating'>
                      {%for el in ratings[anime.rating]%}
                      <img style='height:2em;width:2em;' src='{{el}}'>
                      {%endfor%}
                    </span>
                  </button>
                </h2>
              </div>
              <div id="collapse{{loop.index}}" class="collapse" aria-labelledby="heading{{loop.index}}" data-parent="#anime-accord">
                <div class="card-body anime-details">
                    {%if current_user.id == curr_list.users.id%}
                    <div class="dropdown curr-entry-form mr-1">
                        <button class="btn update-entry-btn dropdown-toggle" type="button" id="entry-update-{{curr_list.list_entries.index(anime)}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Update Entry
                        </button>
                        <div class="dropdown-menu" aria-labelledby="entry-update-{{curr_list.list_entries.index(anime)}}">
                            <form class="px-4 py-3" method="POST" action="/{{curr_list.id}}/{{anime.id}}/update">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                <div class="form-group ">
                                    <label for='form-rating'>Your new rating:</label>
                                    <input name='rating' class='form-control' id='form-rating' type="number" max=10 min=1 placeholder='1'>
                                </div>
                                <div class='form-group'>
                                    {%for category in all_categories%}
                                    <div class="form-check">
                                        <input type="checkbox" class='form-check-input' name="categories" id='check-{{category.name}}' value='{{category.name}}'>
                                        <label for='check-{{category.name}}' class='form-check-label'>{{category.name}}</label>
                                    </div>
                                    {%endfor%}
                                </div>
                                <button type="submit" class="btn update-entry-btn">Update</button>
                              </form>
                        </div>
                    </div>
                    <form class='curr-entry-form' method="POST" action="/{{curr_list.id}}/{{anime.id}}/remove">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button class="btn btn-danger remove-entry-btn">Remove Entry</button>
                    </form>
                    {%endif%}
                    <div class='genres-div'>
                        <span class='mr-1'>Genres:</span>
                        {%for genre in anime.anime_genres%}
                        <a class='genre badge badge-pill category-badges' href="/genres/{{genres[genre]}}">{{genre}}</a>
                        {%endfor%}
                    </div>
                    <p class='anime-type-p'>Type: {{anime.anime_type}}</p>
                    <p class='m-0'>Synopsis: {{anime.anime_synopsis}}</p>
                    <p class='recommended-pg'>You may also like these titles: <a class='green-link' href='/{{anime.anime_id}}/recommendations?t={{anime.anime_title}}'>Link</a></p>
                    <div class="accordion comment-accord mb-3" id='comment-accord-{{curr_list.list_entries.index(anime)}}'>
                        <div class="card">
                          <div class="card-header p-0" id="comm-heading{{curr_list.list_entries.index(anime)}}">
                            <h2 class="mb-0 comment-h2">
                              <button class="btn btn-link btn-block list-collapse" type="button" data-toggle="collapse" data-target="#comm-collapse{{curr_list.list_entries.index(anime)}}" aria-expanded="true" aria-controls="comm-collapse{{curr_list.list_entries.index(anime)}}">
                                <span class='mx-auto p-1'>View comments</span>
                              </button>
                            </h2>
                          </div>
                          <div id="comm-collapse{{curr_list.list_entries.index(anime)}}" class="collapse" aria-labelledby="comm-heading{{curr_list.list_entries.index(anime)}}" data-parent="#comment-accord-{{curr_list.list_entries.index(anime)}}">
                            <div class="card-body">
                                <div class='comments'>
                                    {%if not anime.entry_comments%}
                                    <p class='lead'>Be the first to comment!</p>
                                    {%endif%}
                                    {%for comment in anime.entry_comments%}
                                    <div class="comment">
                                        {%if comment.spoiler==True%}
                                        <span class='badge badge-pill badge-danger spoiler-toggle'>Spoiler</span>
                                        {%endif%}
                                        <p class="{{'spoiler to-toggle' if comment.spoiler==True else ''}}">
                                          {%if comment.entry_owner == True%}
                                          <img alt='Mobile Suit Gundam icon by Icons8' style="height:1.5em;width:1.5em" src="https://img.icons8.com/ios-filled/100/000000/mobile-suit-gundam.png"/>
                                          {%endif%}
                                          {{comment.text}} -- 
                                          <a class='green-link' href='/{{comment.user_id}}/lists'>{{comment.username}}</a>
                                        </p>
                                    </div>
                                    {%endfor%}
                                </div>
                                {%if current_user.get_id()!=None%}
                                <form class='add-comment' method="POST" action="/{{curr_list.id}}/{{anime.id}}/add-comment">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <div class='form-check'>
                                        <input class="form-check-input" id='spoiler-input' type="checkbox" name="spoiler" value="True">
                                        <label class="form-check-label" for="spoiler-input"> Is this a spoiler?</label>
                                    </div>
                                    <div class='form-group'>
                                        <label for='comment-text-area'>Your comment:</label>
                                        <textarea class='form-control' name='comment' id='comment-text-area' rows=3 required></textarea>
                                    </div>
                                    <button class="btn list-buttons-btn list-buttons">Add Comment!</button>
                                </form>
                                {%endif%}
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
<div class="waitpage" id="waitpage" style="display: none;">
    <div class="waitpage-box">
        <p>
            <img alt="(Loading)" src="https://media.giphy.com/media/3o7bu3XilJ5BOiSGic/giphy.gif">
            <span>Please Wait...</span>
        </p>
    </div>
</div>
{% endblock %}