{% extends 'base.html' %}
{% block title %}Suggestions{% endblock %}
{% block content %}
    <h1>Check out suggestions for {{curr_list.name}}</h1>
    {%for suggestion in curr_list.list_suggestions%}
        <p>{{suggestion.anime_title}}</p>
        <p>{{suggestion.comment}}</p>
        <a href='{{suggestion.mal_url}}'>Link</a>
        <p>-- by {{suggestion.username}}</p>
        <form method="POST" action="/suggestions/{{suggestion.id}}/remove">
            <button class="btn btn-danger">Delete</button>
        </form>
    {%endfor%}
{% endblock %}